

.coin{
    margin: auto;
    border-inline: 1px solid var(--blue-700);
    border-bottom: 1px solid var(--blue-700);
    width: 400px;
    height: 125px;
    border-radius: 0px 0px 16px 16px;

    text-align: center;
    background-color: var(--blue-400);
    color: var(--blue-800);
}
.coin p{
    padding-top: 40px;
}
.coin h1{
    color: var(--white);
}
